<h2>Students List</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of birth</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.dateOfBirth}}</td>
            <td>
                <button (click)="updateStudent(student.studentId)" class="btn btn-info">Edit</button>
                <button (click)="deleteStudent(student.studentId)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>